* {
	--separation:0px;
	--color-light: #FFF;
	--color-dark: #000;
	--color-main-dark: #44A;
	--color-main-light: #CCE;
}


body{
	font-size: 18px;
	font-family: Arial, Helvetica, sans-serif;
	margin:0px;
}

a:link, a:visited, a:active{
	color: var(--color-light);
}

/* Nav configuration */

nav{
	position:absolute;
	width: var(--separation);
	background-color: var(--color-main-light);
	color:var(--color-dark);
	height:100vh;
	overflow-x: hidden;
}


/* content configuration */

main{
	position:relative;
}

header{
	position:sticky;
	top:0px;
	height:4em;
	overflow:hidden;
	background-color: var(--color-main-dark);
	color:var(--color-main-light);
	padding:10px;
	height:45px;
}

section{
	padding: 10px;
	font-size:0.95em;
}


footer{
	background-color: var(--color-main-dark);
	color:var(--color-main-light);
	font-size:0.7em;
	
}


.action{
	background-color: var(--color-main-dark);
	height:55px;
	position:sticky;
	top:45px;
}


/* inputs */

input{
	padding:6px;
	border-radius:5px;
	width:95%;
}

button{
	background-color: var(--color-main-light);
	padding:6px;
	font-size:1.2em;
	border-radius:5px;
	width:100%;
}

pre{
	overflow:auto;
}


h1,h2,h3,h4{
	margin: 6px 0px;
}

section > pre{
	overflow:auto;
	margin:8px;
	background-color: var(--color-main-light);
	color:var(--color-main-dark);
	width:95%;
	padding:5px;
}

section.hints > div{
	display:inline-block;
	text-align: center;
	width:100%;
}
.testcode{
	height:32px;
}

header > h1{
	font-size:1.4em;
}

@media (max-width: 480px){

	header > h1{
		font-size:6vw;
		height:1.2em;
	}
}